@import url("https://fonts.cdnfonts.com/css/id-grotesk");
@import url("https://fonts.cdnfonts.com/css/billiona");
@import url("https://fonts.cdnfonts.com/css/maldives-4");

.hamburger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
