@import url("https://fonts.cdnfonts.com/css/id-grotesk");
@import url("https://fonts.cdnfonts.com/css/billiona");
@import url("https://fonts.cdnfonts.com/css/maldives-4");

.hamburger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d8d2c2;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
